
body {
  color: #000;
  /* background: #35363a; */
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, sans-serif;
  background-image: url(./assets/bg.jpeg);
  background-size: cover;
}
img {
  width: 100%;
  border-radius: 50%;
}
.container {
  max-width: 700px;
}

svg {
  fill: #646cff;
  transition: all .3s;
}
a {
  color: #e8eaed;
  transition: .3s;
  text-decoration: none;
  font-size: 14px;
}

/* About */
h2 {
  font-size: 22px;
  text-align: center;
  margin: 24px 0;
  font-weight: 400;
}
.about .about-img {
  position: relative;
  width: 150px;
  margin: 0 auto;
}

.about .about-text {
  font-size: 14px;
  text-align: justify;
}

